.main {
  background-image: url("./img/background-primary.png");
  background-color: rgb(122, 122, 122);
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}

.main-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 44.53px;
  padding-top: 41px;
  margin-left: 60px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 48px;
  margin-left: 60px;
}

.blue {
  background-color: #59b4d1;
}

.orange {
  background: #d0935a;
}

.purple {
  background: #945ad1;
}

.green {
  background: #59d090;
}
