.coluna {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  height: max-content;
}

.column-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.column-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}